<header>
  <div class="site-header">
    <h1><a href="/">Danty Cook Portfolio</a></h1>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/resume/">Résumé</a></li>
        <li><a href="{{ site.baseurl }}/certifications/">Certifications</a></li>
<li><a href="{{ site.baseurl }}/tags/">Tags</a></li>
        <li><a href="https://www.linkedin.com/in/danty-cook-367ba31b" target="_blank">LinkedIn</a></li>
      </ul>
    </nav>
  </div>
</header>


